@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  color: #475055;
  text-decoration: none; }

body {
  background-color: #4d6681;
  font-family: "Roboto", sans-serif; }

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 928px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-top: 60px;
  grid-column-gap: 16px;
  grid-row-gap: 16px; }

.row {
  display: flex; }

.column {
  display: flex;
  flex-direction: column; }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }

.active {
  background: #56ccc8; }

nav {
  width: 100%;
  height: 60px;
  background: #ffffff;
  grid-column: 1/9;
  display: flex;
  justify-content: space-between;
  position: relative; }
  nav #burger {
    align-self: flex-start;
    width: 60px;
    height: 60px;
    margin-right: 45px;
    transition: background .3s ease-in-out; }
    nav #burger:hover {
      background: #c5cdd1; }
      nav #burger:hover span {
        background: #fff; }
    nav #burger span {
      display: block;
      width: 20px;
      height: 3px;
      background: #fff;
      margin-bottom: 3px;
      border-radius: 10px;
      transition: background .3s ease-in-out; }
      nav #burger span:last-child {
        margin-bottom: 0; }
  nav ul li {
    margin-right: 45px; }
    nav ul li:last-child {
      margin: 0; }
    nav ul li a {
      transition: color .3s ease-in-out; }
      nav ul li a:hover {
        color: #56ccc8; }
  nav #rightSide div {
    margin: 0px 20px; }
    nav #rightSide div:nth-child(2) {
      margin: 0; }
  nav #rightSide .socials {
    border-left: 1px solid #c5cdd1;
    border-right: 1px solid #c5cdd1;
    height: 60px;
    padding: 10px; }
    nav #rightSide .socials span {
      padding: 10px; }

#tileMenu {
  grid-column: 1/5;
  grid-row: 2/6; }
  #tileMenu .left-tileMenu {
    width: 224px; }
    #tileMenu .left-tileMenu ul li {
      height: 60px;
      background-color: #ffffff;
      border-bottom: 1px solid #c5cdd1;
      align-items: center;
      transition: 0.3s; }
      #tileMenu .left-tileMenu ul li span {
        width: 33%;
        display: flex;
        justify-content: center; }
      #tileMenu .left-tileMenu ul li:hover {
        background-color: #ccefee; }
    #tileMenu .left-tileMenu ul .active {
      background-color: #56ccc8;
      color: #ffffff; }
      #tileMenu .left-tileMenu ul .active:hover {
        background-color: #56ccc8; }
    #tileMenu .left-tileMenu .info {
      color: #fff;
      font-weight: 300;
      font-size: 90%;
      background-color: #c5cdd1;
      padding: 20px 0; }
      #tileMenu .left-tileMenu .info .info-piece {
        padding: 2px;
        background-color: #c5cdd1;
        transition: background-color 0.3s;
        line-height: 110%;
        padding: 20px; }
        #tileMenu .left-tileMenu .info .info-piece:last-child {
          padding-bottom: 22px; }
        #tileMenu .left-tileMenu .info .info-piece:hover {
          background-color: #7dd8d5; }
      #tileMenu .left-tileMenu .info span {
        width: 25%; }
  #tileMenu .right-tileMenu {
    width: 50%; }
    #tileMenu .right-tileMenu .tile {
      background-color: #152840;
      padding: 0px 20px 20px 30px;
      color: #fff;
      font-size: 90%;
      font-weight: 300;
      border-bottom: 1px solid #4d6681; }
      #tileMenu .right-tileMenu .tile li {
        margin-bottom: 10px; }
      #tileMenu .right-tileMenu .tile:last-child {
        border-bottom: 1px solid #152840; }
    #tileMenu .right-tileMenu h5 {
      color: #56ccc8;
      font-size: 110%;
      font-weight: 400; }
    #tileMenu .right-tileMenu .subTileHeader {
      height: 60px;
      justify-content: space-between; }
    #tileMenu .right-tileMenu .active {
      background-color: #263a54; }

#socialmedia {
  grid-column: 5/7;
  grid-row: 2/4;
  background-color: #fff;
  padding: 30px 0px 30px 29px; }
  #socialmedia li {
    transition: color .5s ease-in-out;
    align-items: center;
    margin-bottom: 24px;
    font-size: 16px; }
    #socialmedia li:last-child {
      margin-bottom: 0; }
    #socialmedia li:hover {
      cursor: pointer; }
    #socialmedia li.fb:hover {
      color: #4d6baa; }
      #socialmedia li.fb:hover span {
        background-color: #4d6baa; }
    #socialmedia li.twitter:hover {
      color: #4fc6f8; }
      #socialmedia li.twitter:hover span {
        background-color: #4fc6f8; }
    #socialmedia li.googleplus:hover {
      color: #ea6060; }
      #socialmedia li.googleplus:hover span {
        background-color: #ea6060; }
    #socialmedia li.rss:hover {
      color: #ee802f; }
      #socialmedia li.rss:hover span {
        background-color: #ee802f; }
    #socialmedia li.pinterest:hover {
      color: #BD081C; }
      #socialmedia li.pinterest:hover span {
        background-color: #BD081C; }
    #socialmedia li span {
      margin-right: 25px;
      transition: background-color .5s ease-in-out;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #c5cdd1; }

.socialmediaTile {
  height: 151px;
  align-items: space-between;
  padding: 25px;
  color: #fff; }
  .socialmediaTile .bottom {
    margin-top: 40px;
    justify-content: space-between;
    align-items: center; }
    .socialmediaTile .bottom span {
      font-weight: 700; }
    .socialmediaTile .bottom div {
      justify-content: center;
      align-items: center;
      font-weight: 300; }
      .socialmediaTile .bottom div img {
        margin-left: 15px; }

#fbTile {
  grid-column: 7/9;
  grid-row: 2/3;
  background-color: #4d6baa; }

#twitterTile {
  grid-column: 7/9;
  grid-row: 3/4;
  background-color: #4fc6f8; }

.underSocials {
  grid-column: 5/9;
  height: 166px;
  background-color: #fff; }
  .underSocials h4 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 14px; }
  .underSocials p {
    margin-bottom: 27px; }
    .underSocials p.bold {
      font-weight: 700;
      font-size: 13px; }
  .underSocials span {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 23px; }
    .underSocials span.fb {
      background-color: #4d6baa; }
    .underSocials span.twitter {
      background-color: #4fc6f8; }
    .underSocials span.googleplus {
      background-color: #ea6060; }
    .underSocials span.linkedin {
      background-color: #238cc8;
      margin: 0; }
  .underSocials input {
    height: 40px;
    padding-left: 20px;
    width: 287px;
    border-radius: 2px;
    border: 1px solid #c5cdd1; }
    .underSocials input::placeholder {
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      font-weight: 300; }
  .underSocials button {
    border: 0;
    background-color: #ea6060;
    width: 98px;
    border-radius: 5px;
    margin-left: 16px;
    color: #fff; }
